extends layout

block content
  h1 #{title}
  include modal
  form(method='POST', action='/notes/edit/'+note._id)
    .form-group
      label Title:
      input.form-control(name='title', type='text', value=note.title)
    .form-group
      label Body:
      textarea.form-control(name='body')= note.body
    -if(note.img)
      img(src=`/img/${note.img}`, alt="")
    br
    br
    input.btn.btn-primary.d-none(type='submit', value='Submit')
  form(id="fileForm" method="POST" class="upload_img")   
    label.btn.btn-secondary Choose a file  
      input.d-none( type="file" id="fileSelect" name="file" accept=".jpg, .png")
  div.btn.btn-primary(id="submit") Submit
    script(src="/js/add_img.js")